<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="w3.css">
    <link rel="stylesheet" href="owm.css">
    <title>OpenWeatherMap Sample Project</title>
</head>
<body>

<main class="w3-center">
    <h1><%= responseData.name %></h1>
    <p><img src="http://openweathermap.org/img/wn/<%= responseData.weather[0].icon %>@4x.png" alt="<%= responseData.weather[0].description %>"></p>
    <h3><%= responseData.weather[0].main %></h3>
    <p>It's <%= Math.round(responseData.main.temp) %> degrees out, but it feels like <%= Math.round(responseData.main.feels_like) %></p>
    <p>(Probably because there is <%= Math.round(responseData.main.humidity) %> percent humidity)</p>
    <br><br>
    <p><a href="/">Need weather someplace else?</a></p>
</main>


</body>
</html>